

body{

      background-image: url("../imagens/recursos/bg-padrao-galaxia.jpg");
      color: white ;
      font-family: Gotham;
      text-transform: uppercase;
      text-align: center;




}

ul{
  list-style-type: none;
}

@font-face {
    font-family: Gotham;
    src:local("A:\Dia do Arauto\Mesa Festival\mesa\site-mesa-festival\fonts\Gotham\GOTHAM-BLACK.TTF");
}

mesa{
  
  width: 100%;
  height: 100px;
  justify-content:center;

}
